html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header h1 {
    background-color: white;
    color: #007d7b;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}

nav li {
    display: inline;
    padding: .25em;
}

body {
    margin: 0 auto;
}

body section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "about about"
    "gallery gallery"
    "formText formText"
    "formInput formInput";
    background-color: #ffffff;
    color: #000000;
    width: 82%;
    margin: 0 auto;
}

section figure {
    margin: 0 auto;
}

#gallery {
    margin-top: -1.7em;
    grid-area: gallery;
}

#gallery h2, #gallery p {
    grid-column-start: 1;
    grid-column-end: 3;
}

#gallery p {
    max-width: 75vw;
}

section h2 {
    padding-top: .25em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

form {
    text-align: center;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
}

#formInput {
    grid-area: formInput;
}

#formText {
    grid-area: formText;
}

img {
    margin: 5px -4px;
    max-width: 95%;
    padding: 5px 0 5px .75em;
}

p {
    font-size: 1.25em;
    padding: 0 .25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

#chile figcaption {
    color: #ffffff;
    margin-top: -1.9em;
    margin-left: 6.5em;
}

#guatemala figcaption {
    color: #ffffff;
    margin-top: -12em;
    margin-left: 5em;
}

#hawaii figcaption {
    color: #ffffff;
    margin-top: -2em;
    margin-left: 6em;
}

#iran figcaption {
    margin-top: -27em;
    margin-left: 6.9em;
}

#ireland figcaption {
    margin-top: -26em;
    margin-left: 6.9em;
}

#italy figcaption {
    margin-top: -2.3em;
    margin-left: 6.9em;
}

#moab figcaption {
    color: #ffffff;
    margin-top: -2.4em;
    margin-left: 4.7em;
}

#rockymountains figcaption {
    margin-top: -12.4em;
    margin-left: 3em;
}

#switzerland figcaption {
    margin-top: -12.25em;
    margin-left: 4.75em;
}

#uk figcaption {
    margin-top: -12.25em;
    margin-left: 7.25em;
}

#usa figcaption {
    margin-top: -12.25em;
    margin-left: 7.25em;
}

#wyoming figcaption {
    color: #ffffff;
    margin-top: -12em;
    margin-left: 5.6em;
}

#about {
    display: block;
    grid-area: about;
}

#contact {
    background-color: #000000;
    color: #ffffff;
}

#contact p {
    text-align: center;
}

#contact ::placeholder {
    color: #007d7b;
    font-weight: bold;
    font-size: .75em;
    text-align: left;
    padding-left: 5px;
}

#contact input {
    padding: .15em 0;
    width: 30em;
    text-align: left;
}

#contact label {
    display: block;
    text-align: left;
    padding: 15px 0 0 4em;
}

button[type=submit] {
    width: 25em;
    height: 2em;
    margin-top: 1em;
    border-radius: 8px;
    border: none;
    background-color: #007d7b;
    color: #ffffff;
    font-size: .75em;
    font-weight: bold;
}

.top {
    position: fixed;
    bottom: 3px;
    right: 5px;
    text-decoration: none;
}

footer {
    font-size: .75em;
    text-align: center;
    padding-top: 2.5em;
}

@media screen and (max-width: 486px) {
    body section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "about"
        "gallery"
        "formText"
        "formInput";
        background-color: #ffffff;
        color: #000000;
        width: 82%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 881px) {
    
}

@media screen and (min-width: 1301px) {
    body section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "about about about"
        "gallery gallery gallery"
        "formText formText formText"
        "formInput formInput formInput";
        background-color: #ffffff;
        color: #000000;
        width: 82%;
        margin: 0 auto;
    }
}